body {
  background-color: #282c34;
  color: white;
} 

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  text-align: center;
  background-color: #575555;
  border-radius: 15px;
}

header {
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.separator-horizontal {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  
  margin-top: 1.5rem;
}

.separator-horizontal > section {
  width: 49%;
  text-align: center;
}

h2 {
  text-align: center;
}

.separator-horizontal > section:not(:first-child) {
  border-left : 1px solid white;
  margin-left: -1%;
}
