body {
  background-color: #282c34;
  color: white;
} 

.separator-horizontal {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  
  margin-top: 1.5rem;
}

.separator-horizontal > section {
  width: 49%;
  text-align: center;
}

h2 {
  text-align: center;
}

.separator-horizontal > section:not(:first-child) {
  border-left : 1px solid white;
  margin-left: -1%;
}

#runningBotsList {
  list-style: none; 
  padding: 0;
}

#runningBotsList > li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: green; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  font-size: 2em;
  vertical-align: sub;
  margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}