.bots-monitor-infos {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    text-align: center;
    background-color: #575555;
    border-radius: 15px;
}

.bots-monitor-infos > ul {
    list-style-type: none;
    padding: 0;
}

.green-circle {
    color: green;
}

.red-circle {
    color: red;
}

[class$="-circle"] {
    font-size: 1.25rem;
}